// sizes
$sizeSidebarActive: 16.5rem;
$sizeSidebar: clamp(3rem, 8vw, 4rem);
// ___screen sizes
$sizeScreenSmallPhone: 320px;
$sizeScreenPhone: 480px;
$sizeScreenBigPhone: 640px;
$sizeScreenTablet: 960px;
$sizeScreenBigTablet: 1025px;
$sizeScreenDesktop: 1280px;

// fonts
$fontSize3: clamp(.950rem, 2.5vw, 1.25rem);
$fontSize2: clamp(1.2rem, 3vw, 1.5rem);
$fontSizeSidebarIcon: clamp(2rem, 5vw, 2.5rem);

// colors
$colorBg: black;
$colorGray: #484C52;
$colorLight: white;
$colorMain: #0a4bac; // #317FF3;
$colorMainLight: #0b60df; // #448cf8;
$colorMainDark: #0c408f; // #2F76DF;
$colorAccent: #F331A6;
$colorAccentDark: #C92B8A;

// transition
$transition: 300ms;

// mixins
@mixin btn {
    color: $colorLight;
    border-radius: 9999px;
    font-size: $fontSize3;
    font-weight: 300;
    padding: .25em 1.5em;
    white-space: nowrap;
    transition: $transition;
    border: 1px solid $colorLight;
    background: none;

    &:hover,
    &:focus {
        background: $colorMain;
    }
}

@mixin textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin customInput {
    background: none;
    border-radius: 9999px;
    border: 1px solid $colorLight;
    color: $colorLight;
    font-weight: 300;
    outline: none;
    font-size: $fontSize2;
    padding-block: .5em;
    padding-inline: 1.25em;
}

@mixin picture {
    border-radius: 50%;
    background-color: $colorLight;
}