@import '../../../sass/imports/variables.scss';

.selector {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $sizeScreenSmallPhone) {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }

    button {
        outline: none;
        transition: $transition;
        text-transform: lowercase;
        background: none;
        padding: .4em 1.5em;
        border: 1px solid $colorLight;
        color: $colorLight;
        font-weight: 300;
        font-size: $fontSize3;

        @media (max-width: $sizeScreenSmallPhone) {
            border-radius: 9999px;
        }

        &.active {
            background: $colorMain;
        }
        &:not(.active):hover {
            background: $colorMainDark;
        }
        &:first-of-type {
            @media (min-width: calc($sizeScreenSmallPhone + 1px)) {
                border-radius: 9999px 0 0 9999px;
                border-right-width: 0;
            }
        }

        &:last-of-type {
            @media (min-width: calc($sizeScreenSmallPhone + 1px)) {
                border-radius: 0 9999px 9999px 0;
                border-left-width: 0;
            }
        }
    }
}